@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Karla', Arial, Helvetica, sans-serif;
    background-color: hsl(204, 43%, 93%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    max-width: 600px;
    display: grid;
    grid-template-rows: 220px 260px;
    border-radius: 5px;
    box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.75);
}

.secondary {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: hsl(179, 62%, 43%);
}

.primary {
    padding: 20px;
}

.primary h1 {
    color: hsl(179, 62%, 43%);
}

.primary h3 {
    color: hsl(71, 73%, 54%);
}

.primary p {
    color: #c2c6cd;
    margin: 3px;
}

.sub__section:nth-child(1) {
    padding: 20px;
    color: hsl(204, 43%, 93%);
}

.big {
    font-size: 30px;
}

.darker {
    color: #c2c6cd;
}

button {
    width: 240px;
    height: 50px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: hsl(71, 73%, 54%);
    color: #f7f9bc;
    font-size: 16px;
    box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.75);
}

.sub__section:nth-child(2) {
    padding: 20px;
    background-color: #51bebd;
    color: hsl(204, 43%, 93%);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #a8ebf4;
    font-size: 16px;
}

@media screen and (max-width: 600px) {
    body {
        min-height: 60vh;
    }

    .container {
        width: 400px;
        grid-template-rows: 260px 260px;
        box-shadow: none;
    }

    .secondary {
        grid-template-columns: 1fr;
    }

}